body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Arimo', sans-serif;
    /* background-image: url("https://i.gifer.com/origin/7e/7e31faa0b302c2106e5d46044f087540.gif"); */
}

li {
    list-style:none;
}

.main-box {
    border: 3px solid rgb(234, 255, 0);
    border-radius: 60px; 
    padding: 20px
    width: 67.5%;
    /* background-image: url("https://i.gifer.com/origin/7e/7e31faa0b302c2106e5d46044f087540.gif"); */
}

.upper-box {
    align-items: center;
    border: 3px solid blue;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
}

.box-item {
    margin: 10px;
}

.upper-box-items {
    display: flex;
    border: 3px solid red;
    border-radius: 30px;
    flex-direction: row;
}

.lower-box {
    border: 3px solid teal;
    border-radius: 60px;
    display: grid;
    grid-template-columns: 65% 35%;
}

.weather-box {
    align-items: center;
    border: 3px solid purple;
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    border-radius: 60px;
}

.previous-searches-list {
    border: 3px solid green;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
}



/* .gif-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.gif-box img {
    max-width: 100%;
} */


.third-box {
    border: 3px solid aquamarine;
    border-radius: 60px;
    padding: 45px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 60%
}

.third-box-element h3 {
    text-decoration: underline;
    font-weight: bold;
}