body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Arimo', sans-serif;
    /* background-image: url("https://i.gifer.com/origin/7e/7e31faa0b302c2106e5d46044f087540.gif"); */
}

li {
    list-style:none;
}

.main-box {
    border: 3px solid forestgreen;
    border-radius: 60px; 
    width: 67.5%;
    /* background-image: url("https://i.gifer.com/origin/7e/7e31faa0b302c2106e5d46044f087540.gif"); */
}

.upper-box {
    align-items: center;
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
}

.box-item {
    margin: 10px;
}

.upper-box-items {
    display: flex;
    border: 3px solid orange;
    flex-direction: row;
}

.lower-box {
    border: 3px solid teal;
    display: grid;
    grid-template-columns: 65% 35%;
}

.weather-box {
    align-items: center;
    border: 3px solid purple;
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
}

.previous-searches-list {
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
}

/* .gif-box {
    display: flex;
    height: 200px; 
    background-image: url("https://i.gifer.com/origin/7e/7e31faa0b302c2106e5d46044f087540.gif");
    background-size: cover; 
    background-position: center; 
} */

.third-box {
    border: 3px solid aquamarine;
    padding: 25px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 60%
}

.third-box-element h3 {
    text-decoration: underline;
    font-weight: bold;
}